## Libraries

In [1]:
from pymongo import MongoClient
import pandas as pd
import geopandas as gdp
import shapely
import json
from bson.json_util import dumps

import src.GeospatialFunctions as gf

## Converting  Pandas Dataframe to a MongoDB Geopoint Object

### Bilbao collection

In [2]:
gdf_bilbao = gf.create_geoloc('bilbao.csv')

In [3]:
gdf_bilbao.head()

,name,lat,long,category,loc
0,La Camelia Vegan-Bar,43.261577,-2.925420,"[{'id': '4bf58dd8d48988d1d3941735', 'name': 'V...","{'type': 'Point', 'coordinates': (-2.92542, 43..."
1,Bohemian Lane,43.256430,-2.924784,"[{'id': '4bf58dd8d48988d1d3941735', 'name': 'V...","{'type': 'Point', 'coordinates': (-2.924784121..."
2,Garibolo,43.258353,-2.933280,"[{'id': '4bf58dd8d48988d1d3941735', 'name': 'V...","{'type': 'Point', 'coordinates': (-2.933279752..."
3,Restaurante Luum,43.264866,-2.933099,"[{'id': '4bf58dd8d48988d1d3941735', 'name': 'V...","{'type': 'Point', 'coordinates': (-2.933099, 4..."
4,Areatza - El Arenal,43.260141,-2.923918,"[{'id': '4bf58dd8d48988d163941735', 'name': 'P...","{'type': 'Point', 'coordinates': (-2.923918305..."

In [4]:
client = MongoClient()
db = client.geo
collection_bilbao = db.bilbao
collection_bilbao.create_index([("loc", "2dsphere")])

data_bilbao = gdf_bilbao.to_dict(orient='records')
collection_bilbao.insert_many(data_bilbao)

### Gijon collection

In [5]:
gdf_gijon = gf.create_geoloc("gijon.csv")

In [6]:
gdf_gijon.head()

,name,lat,long,category,loc
0,Escuela Infantil Municipal “Ana María Matute”,39.861411,-3.947029,"[{'id': '52e81612bcbc57f1066b7a45', 'name': 'P...","{'type': 'Point', 'coordinates': (-3.947028815..."
1,Madre Tierra,39.856617,-4.022343,"[{'id': '4bf58dd8d48988d1d3941735', 'name': 'V...","{'type': 'Point', 'coordinates': (-4.022342701..."
2,Fruteria Santos,39.940697,-3.991567,"[{'id': '4bf58dd8d48988d1d3941735', 'name': 'V...","{'type': 'Point', 'coordinates': (-3.991566896..."
3,Frutas Hermanos Farelo,39.962243,-4.194303,"[{'id': '4bf58dd8d48988d1d3941735', 'name': 'V...","{'type': 'Point', 'coordinates': (-4.194303454..."
4,Parque De La Vega,39.863761,-4.024856,"[{'id': '4bf58dd8d48988d163941735', 'name': 'P...","{'type': 'Point', 'coordinates': (-4.024855771..."

In [7]:
client = MongoClient()
db = client.geo
collection_gijon = db.gijon
collection_gijon.create_index([("loc", "2dsphere")])

data_gijon = gdf_gijon.to_dict(orient='records')
collection_gijon.insert_many(data_gijon)

###  Madrid collection

In [8]:
gdf_madrid = gf.create_geoloc('madrid.csv')

In [9]:
gdf_madrid.head()

,name,lat,long,category,loc
0,ABC Centre d'Estudis,40.402726,-3.674894,"[{'id': '52e81612bcbc57f1066b7a45', 'name': 'P...","{'type': 'Point', 'coordinates': (-3.6748938, ..."
1,Guardería Chiqui Tin Moratalaz,40.409716,-3.653979,"[{'id': '52e81612bcbc57f1066b7a45', 'name': 'P...","{'type': 'Point', 'coordinates': (-3.653978810..."
2,Foodies in the City,40.421212,-3.717058,"[{'id': '52e81612bcbc57f1066b7a45', 'name': 'P...","{'type': 'Point', 'coordinates': (-3.717057899..."
3,Planet Organic Food&Life,40.428808,-3.681333,"[{'id': '4bf58dd8d48988d1d3941735', 'name': 'V...","{'type': 'Point', 'coordinates': (-3.681333, 4..."
4,Swagat Indian Restaurant,40.424513,-3.683114,"[{'id': '4bf58dd8d48988d1d3941735', 'name': 'V...","{'type': 'Point', 'coordinates': (-3.683114294..."

In [10]:
client = MongoClient()
db = client.geo
collection_madrid = db.madrid
collection_madrid.create_index([("loc", "2dsphere")])

data_madrid = gdf_madrid.to_dict(orient='records')
collection_madrid.insert_many(data_madrid)

###  Barcelona collection

In [11]:
gdf_barcelona = gf.create_geoloc('barcelona.csv')

In [12]:
gdf_barcelona.head()

,name,lat,long,category,loc
0,Escola Bressol Municipal Galatea,41.418797,2.140676,'Preschool',"{'type': 'Point', 'coordinates': (2.140676, 41..."
1,Oposicions Cos Superior Gene,41.378087,2.148094,'Preschool',"{'type': 'Point', 'coordinates': (2.1480939000..."
2,kinderbarcelona,41.402935,2.201473,'Preschool',"{'type': 'Point', 'coordinates': (2.2014734745..."
3,Vegetart,41.402839,2.156432,'Vegetarian / Vegan Restaurant',"{'type': 'Point', 'coordinates': (2.1564316749..."
4,Cafè Camèlia,41.405096,2.155479,'Vegetarian / Vegan Restaurant',"{'type': 'Point', 'coordinates': (2.1554787900..."

In [13]:
client = MongoClient()
db = client.geo
collection_barcelona = db.barcelona
collection_barcelona.create_index([("loc", "2dsphere")])

data_barcelona = gdf_barcelona.to_dict(orient='records')
collection_barcelona.insert_many(data_barcelona)

## GeoQueries

### Creating the queries

#### Bilbao

In [16]:
bilbao = gf.queries_close(collection_bilbao, -2.9253, 43.2627)
bilbao_check= gf.check_results(bilbao)

In [17]:
bilbao_check

'Nice! we have found  156  results'

In [18]:
df_bilbao = pd.DataFrame(bilbao)
df_bilbao.head()

,_id,name,lat,long,category,loc,distance
0,{'$oid': '6020223c70aebdade83ada62'},La Camelia Vegan-Bar,43.261577,-2.925420,'Vegetarian / Vegan Restaurant',"{'type': 'Point', 'coordinates': [-2.92542, 43...",0.125249
1,{'$oid': '60202af8b1c4f08d4af2c8a2'},La Camelia Vegan-Bar,43.261577,-2.925420,'Vegetarian / Vegan Restaurant',"{'type': 'Point', 'coordinates': [-2.92542, 43...",0.125249
2,{'$oid': '6020389fb060d7ce3768e255'},La Camelia Vegan-Bar,43.261577,-2.925420,"[{'id': '4bf58dd8d48988d1d3941735', 'name': 'V...","{'type': 'Point', 'coordinates': [-2.92542, 43...",0.125249
3,{'$oid': '602044d755ef8a2f9acf0589'},La Camelia Vegan-Bar,43.261577,-2.925420,"[{'id': '4bf58dd8d48988d1d3941735', 'name': 'V...","{'type': 'Point', 'coordinates': [-2.92542, 43...",0.125249
4,{'$oid': '6020223c70aebdade83ada77'},NBA Fan Zone,43.261363,-2.923943,'Basketball',"{'type': 'Point', 'coordinates': [-2.923942690...",0.184876

#### Gijon

In [19]:
gijon = gf.queries_close(collection_gijon, -5.7258, 43.5317)
gijon_check= gf.check_results(gijon)

In [20]:
gijon_check

'Nice! we have found  72  results'

In [21]:
df_gijon = pd.DataFrame(gijon)
df_gijon.head()

,_id,name,lat,long,category,loc,distance
0,{'$oid': '6020262970aebdade83ada9a'},Polideportivo El nido,40.240575,-3.777031,'Basketball Court',"{'type': 'Point', 'coordinates': [-3.777031271...",399.904299
1,{'$oid': '602044d755ef8a2f9acf05c1'},Polideportivo El nido,40.240575,-3.777031,"[{'id': '4bf58dd8d48988d1e1941735', 'name': 'B...","{'type': 'Point', 'coordinates': [-3.777031271...",399.904299
2,{'$oid': '60202b59b1c4f08d4af2c8da'},Polideportivo El nido,40.240575,-3.777031,'Basketball Court',"{'type': 'Point', 'coordinates': [-3.777031271...",399.904299
3,{'$oid': '602044d755ef8a2f9acf05bc'},Parque Del Pilar,40.054756,-3.992189,"[{'id': '4bf58dd8d48988d163941735', 'name': 'P...","{'type': 'Point', 'coordinates': [-3.992189, 4...",412.440290
4,{'$oid': '60202b59b1c4f08d4af2c8d5'},Parque Del Pilar,40.054756,-3.992189,'Park',"{'type': 'Point', 'coordinates': [-3.992189, 4...",412.440290

####  Madrid

In [22]:
madrid = gf.queries_close(collection_madrid, -3.6793, 40.42955)
madrid_check= gf.check_results(madrid)

In [23]:
madrid_check

'Nice! we have found  345  results'

In [24]:
df_madrid = pd.DataFrame(madrid)
df_madrid.head()

,_id,name,lat,long,category,loc,distance
0,{'$oid': '602029c970aebdade83adaa6'},Planet Organic Food&Life,40.428808,-3.681333,'Vegetarian / Vegan Restaurant',"{'type': 'Point', 'coordinates': [-3.681333, 4...",0.190836
1,{'$oid': '602044d755ef8a2f9acf05cd'},Planet Organic Food&Life,40.428808,-3.681333,"[{'id': '4bf58dd8d48988d1d3941735', 'name': 'V...","{'type': 'Point', 'coordinates': [-3.681333, 4...",0.190836
2,{'$oid': '60202a6fb1c4f08d4af2c831'},Planet Organic Food&Life,40.428808,-3.681333,'Vegetarian / Vegan Restaurant',"{'type': 'Point', 'coordinates': [-3.681333, 4...",0.190836
3,{'$oid': '602029c970aebdade83adac9'},Pasillo de Diego de León,40.432397,-3.674888,'Platform',"{'type': 'Point', 'coordinates': [-3.674888329...",0.489569
4,{'$oid': '60202a6fb1c4f08d4af2c854'},Pasillo de Diego de León,40.432397,-3.674888,'Platform',"{'type': 'Point', 'coordinates': [-3.674888329...",0.489569

####  Barcelona

In [25]:
barcelona = gf.queries_close(collection_barcelona, 2.15379, 41.40359)
barcelona_check= gf.check_results(barcelona)

In [26]:
barcelona_check

'Nice! we have found  130  results'

In [27]:
df_barcelona = pd.DataFrame(barcelona)
df_barcelona.head()

,_id,name,lat,long,category,loc,distance
0,{'$oid': '60203c9bb060d7ce3768e284'},Woki Organic Market - Gracia,41.403139,2.154027,'Vegetarian / Vegan Restaurant',"{'type': 'Point', 'coordinates': [2.1540274292...",0.053962
1,{'$oid': '602044d755ef8a2f9acf0645'},Woki Organic Market - Gracia,41.403139,2.154027,'Vegetarian / Vegan Restaurant',"{'type': 'Point', 'coordinates': [2.1540274292...",0.053962
2,{'$oid': '60203c9bb060d7ce3768e281'},Cafè Camèlia,41.405096,2.155479,'Vegetarian / Vegan Restaurant',"{'type': 'Point', 'coordinates': [2.1554787900...",0.218780
3,{'$oid': '602044d755ef8a2f9acf0642'},Cafè Camèlia,41.405096,2.155479,'Vegetarian / Vegan Restaurant',"{'type': 'Point', 'coordinates': [2.1554787900...",0.218780
4,{'$oid': '60203c9bb060d7ce3768e280'},Vegetart,41.402839,2.156432,'Vegetarian / Vegan Restaurant',"{'type': 'Point', 'coordinates': [2.1564316749...",0.235611