## Libraries

In [1]:
import sys
sys.path.append('../')

In [2]:
from pymongo import MongoClient
import pandas as pd
import geopandas as gdp
import shapely
import json
from bson.json_util import dumps

import src.GeospatialFunctions as gf

## Converting  Pandas Dataframe to a MongoDB Geopoint Object

In [3]:
gdf_bilbao = gf.create_geoloc('../Data/API_Data/bilbao.csv')

In [4]:
gdf_gijon = gf.create_geoloc("../Data/API_Data/gijon.csv")

In [5]:
gdf_madrid = gf.create_geoloc('../Data/API_Data/madrid.csv')

In [6]:
gdf_barcelona = gf.create_geoloc('../Data/API_Data/barcelona.csv')

### Import to Mongo compass

In [7]:
client = MongoClient()
db = client.geo
collection_barcelona = db.barcelona
collection_barcelona.create_index([("loc", "2dsphere")])
data_barcelona = gdf_barcelona.to_dict(orient='records')
collection_barcelona.insert_many(data_barcelona)

In [8]:
client = MongoClient()
db = client.geo
collection_madrid = db.madrid
collection_madrid.create_index([("loc", "2dsphere")])
data_madrid = gdf_madrid.to_dict(orient='records')
collection_madrid.insert_many(data_madrid)

In [9]:
client = MongoClient()
db = client.geo
collection_gijon = db.gijon
collection_gijon.create_index([("loc", "2dsphere")])
data_gijon = gdf_gijon.to_dict(orient='records')
collection_gijon.insert_many(data_gijon)

In [10]:
client = MongoClient()
db = client.geo
collection_bilbao = db.bilbao
collection_bilbao.create_index([("loc", "2dsphere")])
data_bilbao = gdf_bilbao.to_dict(orient='records')
collection_bilbao.insert_many(data_bilbao)

## GeoQueries

### Bilbao

In [11]:
bilbao = gf.queries_close(collection_bilbao, -2.9253, 43.2627)
gf.check_results(bilbao)

'Nice! we have found  32  results'

In [12]:
df_bilbao = pd.DataFrame(bilbao)
df_bilbao.head()

,_id,name,lat,long,category,loc,distance
0,{'$oid': '60219c6d430196413ffba343'},La Camelia Vegan-Bar,43.261577,-2.925420,'Vegetarian / Vegan Restaurant',"{'type': 'Point', 'coordinates': [-2.92542, 43...",0.125249
1,{'$oid': '60219c6d430196413ffba351'},NBA Fan Zone,43.261363,-2.923943,'Basketball Court',"{'type': 'Point', 'coordinates': [-2.923942690...",0.184876
2,{'$oid': '60219c6d430196413ffba352'},Mundobasket Fan Zone,43.260412,-2.924411,'Basketball Court',"{'type': 'Point', 'coordinates': [-2.924410901...",0.264374
3,{'$oid': '60219c6d430196413ffba349'},Ledesma N°5,43.262149,-2.928702,'Beer Bar',"{'type': 'Point', 'coordinates': [-2.928702135...",0.282210
4,{'$oid': '60219c6d430196413ffba358'},Estacion FEVE La Concordia,43.260046,-2.925698,'Train Station',"{'type': 'Point', 'coordinates': [-2.925698014...",0.296819

### Gijon

In [13]:
gijon = gf.queries_close(collection_gijon, -5.7258, 43.5317)
gf.check_results(gijon)

'Nice! we have found  36  results'

In [14]:
df_gijon = pd.DataFrame(gijon)
df_gijon.head()

,_id,name,lat,long,category,loc,distance
0,{'$oid': '60219c6d430196413ffba338'},Apeadero de Veriña,43.541792,-5.723240,'Train Station',"{'type': 'Point', 'coordinates': [-5.723239757...",1.140955
1,{'$oid': '60219c6d430196413ffba339'},Apeadero de Monteana,43.520731,-5.746325,'Train Station',"{'type': 'Point', 'coordinates': [-5.746324620...",2.055712
2,{'$oid': '60219c6d430196413ffba33a'},Estación Renfe de La Calzada,43.535304,-5.697795,'Train Station',"{'type': 'Point', 'coordinates': [-5.697795152...",2.292850
3,{'$oid': '60219c6d430196413ffba32d'},Pabellón de deportes Perchera La Braña,43.530418,-5.680976,'Basketball Court',"{'type': 'Point', 'coordinates': [-5.680975771...",3.616382
4,{'$oid': '60219c6d430196413ffba33b'},Estación de Gijón,43.537461,-5.675345,'Train Station',"{'type': 'Point', 'coordinates': [-5.675345041...",4.117393

###  Madrid

In [15]:
madrid = gf.queries_close(collection_madrid, -3.6793, 40.42955)
gf.check_results(madrid)

'Nice! we have found  103  results'

In [16]:
df_madrid = pd.DataFrame(madrid)
df_madrid.head()

,_id,name,lat,long,category,loc,distance
0,{'$oid': '60219c6c430196413ffba2b9'},Planet Organic Food&Life,40.428808,-3.681333,'Vegetarian / Vegan Restaurant',"{'type': 'Point', 'coordinates': [-3.681333, 4...",0.190836
1,{'$oid': '60219c6c430196413ffba2c3'},The Shaker,40.429080,-3.673566,'Beer Bar',"{'type': 'Point', 'coordinates': [-3.673566, 4...",0.488145
2,{'$oid': '60219c6c430196413ffba2d0'},Pasillo de Diego de León,40.432397,-3.674888,'Platform',"{'type': 'Point', 'coordinates': [-3.674888329...",0.489569
3,{'$oid': '60219c6c430196413ffba2be'},Fit Food Velázquez 39,40.426034,-3.684132,'Vegetarian / Vegan Restaurant',"{'type': 'Point', 'coordinates': [-3.684132099...",0.565812
4,{'$oid': '60219c6c430196413ffba2ba'},Swagat Indian Restaurant,40.424513,-3.683114,'Vegetarian / Vegan Restaurant',"{'type': 'Point', 'coordinates': [-3.683114294...",0.646506

###  Barcelona

In [17]:
barcelona = gf.queries_close(collection_barcelona, 2.15379, 41.40359)
gf.check_results(barcelona)

'Nice! we have found  97  results'

In [18]:
df_barcelona = pd.DataFrame(barcelona)
df_barcelona.head()

,_id,name,lat,long,category,loc,distance
0,{'$oid': '60219c6b430196413ffba25b'},Woki Organic Market - Gracia,41.403139,2.154027,'Vegetarian / Vegan Restaurant',"{'type': 'Point', 'coordinates': [2.1540274292...",0.053962
1,{'$oid': '60219c6b430196413ffba270'},Chivuo's,41.404940,2.153964,'Sandwich Place',"{'type': 'Point', 'coordinates': [2.1539640426...",0.150774
2,{'$oid': '60219c6b430196413ffba258'},Cafè Camèlia,41.405096,2.155479,'Vegetarian / Vegan Restaurant',"{'type': 'Point', 'coordinates': [2.1554787900...",0.218780
3,{'$oid': '60219c6b430196413ffba257'},Vegetart,41.402839,2.156432,'Vegetarian / Vegan Restaurant',"{'type': 'Point', 'coordinates': [2.1564316749...",0.235611
4,{'$oid': '60219c6b430196413ffba278'},Sol Soler,41.401615,2.156507,'Tapas Restaurant',"{'type': 'Point', 'coordinates': [2.1565065303...",0.315523

## Save the geodataframes

In [ ]:
df_barcelona.to_csv("gdf_barcelona.csv", index = False)

In [ ]:
df_madrid.to_csv("gdf_madrid.csv", index = False)

In [ ]:
df_gijon.to_csv("gdf_gijon.csv", index = False)

In [ ]:
df_bilbao.to_csv("gdf_bilbao.csv", index = False)